
.blank_header {
    display: flex;
    justify-content: space-between;
    padding: 0 12pt;
    padding-bottom: 24pt;
}

.blank_header-text {
    font-size: 10.0pt;
    font-family: "Times New Roman", serif;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

.blank_header-logo {
    height: 1.91cm;
    width: 2.01cm;
}

.blank_text {
    font-size: 14.0pt;
    font-family: "Times New Roman", serif;
    color: black;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.blank_text-dpb {
    margin-bottom: -1pt;
}

.blank_text--pt {
    padding-top: 28pt;
}

.blank_text--pb {
    padding-bottom: 12pt;
}

.blank_text--pr {
    padding-right: 10pt;
}

.blank_text--center {
    text-align: center;
}

.blank_text--justify {
    text-align: justify;
}

.blank_title {
    font-size: 18.0pt;
    font-family: "Times New Roman", serif;
    color: black;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 16pt;
    margin-bottom: -2pt;
}

.blank_head_of_department {
    margin-left: auto;
    width: 250px;
}

.blank-layout__page-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2cm;
    padding-left: 3cm;
    padding-right: 1.5cm;
    padding-top: 2cm;
}

.blank_student {
    display: flex;
    flex-direction: row;
}
.blank_student-pl {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.blank_underline {
    border-bottom: 1px #000000 solid;
    margin-top: -2px;
}

.blank_underline_14 {
    border-bottom: 1px #000000 solid;
    margin-top: 14pt;
    margin-bottom: 14pt;
}

.blank_table {
    border-collapse: collapse;
    border: none;
    padding: 0;
    margin: 12pt 0;
}

.blank_table_data {
    border: solid windowtext 1.0pt;
    margin: 0;
    padding: 8px;
}

.blank_footer_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 14pt;
}

.blank_footer_row_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.blank_footer_row_container {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    align-items: center;
}

.blank_footer_underline-120 {
    width: 120px;
    height: 1px;
    background-color: #000000;
}

.blank_footer_underline-180 {
    width: 180px;
    height: 1px;
    background-color: #000000;
}

.blank_footer_small_text {
    font-size: 8pt;
    font-family: "Times New Roman", serif;
    color: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.blank_text--pt28 {
    padding-top: 28pt;
}

.blank_space-between {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blank_content {
    width: 100%;
}

.blank_num {
    margin-right: 16px;
}

td, tr, table {
    padding: 0;
    margin: 0;
}
