._1 {
    width: 12.49cm;
    height: 11.8cm;
}

._2 {
    width: 5.5cm;
    height: 10.45cm;
}

._3 {
    width: 11.51cm;
    height: 10.13cm;
}
._4 {
    width: 12cm;
}
._5 {
    width: 12cm;
}
._6 {
    width: 14cm;
}

.pic_mt-0 {
    padding-top: 0;
    margin-top: 0;
}
