.site-layout__page {
  width: 21cm;
  height: 29.7cm;
  background-color: #FFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin: 0.5cm auto;
}

.site-layout__page-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.2cm;
  padding-left: 3cm;
  padding-right: 1cm;
  padding-top: 2cm;
}

.site-title {
  font-size: 14pt;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-indent: 1.0cm;
}
.site-title-center {
  font-size: 14pt;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.site-title-last {
  font-size: 14pt;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.site-main-title-layout {
  padding-bottom: 12pt;
}
.site-main-title-layoutx2 {
  padding-bottom: 24pt;
}
.site-title-layout {
  padding: 12pt 0 12pt 0;
}

.site-text {
  font-size: 14pt;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-indent: 1.0cm;
  line-height: normal;
  text-align: justify;
}

.numeration_text {
  font-size: 14pt;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pic {
  display: flex;
  margin: 16pt auto 0 auto;
}
.site-image-alt {
  font-size: 14pt;
  font-family: "Times New Roman", serif;
  margin-top: 16pt;
  padding: 0;
  text-align: center;
}

.code_m {
  margin: 0 !important;
  padding: 0 !important;
}
