.site-title-layout__page {
  width: 21cm;
  height: 29.7cm;
  background-color: #FFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin: 0.5cm auto;
}

.site-title-layout__page-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2cm;
  padding-left: 3cm;
  padding-right: 1.5cm;
  padding-top: 2cm;
}

.site-header__text {
  font-size: 14pt;
  line-height: 107%;
  font-family: "Times New Roman", serif;
  text-align: center;
  margin: 0 0 8pt 0;
}

.site-header-course-work__title {
  font-size: 36pt;
  line-height: 107%;
  font-family: "Times New Roman", serif;
  text-align: center;
  margin-top: 56pt;
  margin-bottom: 20pt;
}

.site-header-course-work__text {
  font-size: 14pt;
  line-height: 107%;
  font-family: "Times New Roman", serif;
}

.site-divider__container {
  display: inline-block;
  margin-top: 1.2cm;
  margin-left: 0.7cm;
}

.site-divider__line {
  width: 3cm;
  height: 1px;
  background-color: black;
}

.site-divider__grade {
  font-size: 8pt;
  line-height: 90%;
  font-family: "Times New Roman", serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

.site-content__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-content__column {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}
.site-content__title {
  font-size: 14pt;
  line-height: 115%;
  font-family: "Times New Roman", serif;
  margin-bottom: 8px;
}
.site-content__table-cell {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 14px;
}
.site-content__table-row {
  display: inline-block;
  margin-bottom: 2px;
}
.site-content__text {
  font-size: 14pt;
  line-height: 115%;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.site-content__divider {
  width: 7cm;
  height: 1px;
  background-color: black;
}
.site-content__helper-text {
  font-size: 8pt;
  line-height: 90%;
  font-family: "Times New Roman", serif;
  margin: 4px 0 0 0;
  text-align: center;
}
.site-content__half-dividers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 16px;
}
.site-content__divider-half {
  width: 3cm;
  height: 1px;
  background-color: black;
}
.site-content__divider-half-last {
  margin-left: 1cm;
}

.site-footer {
  font-size: 14pt;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
